// ############################################################################
// Pages / Containers
// ############################################################################
//
// Various containers for both fluid and fixed layouts.
//
//
// TODO(nick): What is a good set of containers?
//
//             - fluid
//             - fixed
//             - centered
//             - left/right justified?
//             - full width?
//

$container--fluid--centered {
    margin: auto;
    width: 90%;
}
