// ############################################################################
// Dropdowns
// ############################################################################

/* A div shown only when a dropdown menu is open.  It spans the full screen and
   captures any clicks outside the dropdown menu.  This both closes the
   dropdown and prevents the click from activating another element on the
   page.
*/
$dropdown-background-layer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
