// ############################################################################
// Icons
// ############################################################################
//
// Icon defaults (inherited by the icon sets).
//
//
// TODO(nick): Icons should inherit from these defaults.  Also, there should be
//             a set of standard UNB Pretty icons, instead of just exposing
//             Font Awesome, that defines standard icon names and styles.
//

.icon {
    color: $color.font.dark.icon;
}
