/*
########################
Input Styles and Widgets
########################

*/


$text-field {
    _transition-duration = 0.3s

    display: inline-block;

    padding: $padding.md 0;
    margin: $padding.lg $padding.md;

    // Remove any standard borders and set the bottom border to underline the
    // input.
    //
    border: none;
    border-bottom: solid 1px $color.grey;

    // A mostly transparent background, with the primary color at the bottom
    // to mimic an underline.  Adjust the percentages to adjust the size of the
    // highlight.
    //
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, $color.primary 4%);
    background-repeat: no-repeat;

    // Animation point of origin.
    //
    background-position: 50% 0;      // Expand in both directions from center
    // background-position: 0 0;     // Expand from left -> right
    // background-position: 100% 0;  // Expand from right -> left

    // We only need to animate background-size to achieve the underline.
    //
    background-size: 0% 100%;
    transition: background-size _transition-duration cubic-bezier(0.64, 0.09, 0.08, 1),
                border-color _transition-duration cubic-bezier(0.64, 0.09, 0.08, 1);

    // Transition the border-color so there's no grey bottom on the underline.
    //
    /* transition: border-color _transition-duration cubic-bezier(0.64, 0.09, 0.08, 1); */

    &:focus {
        // The background creates a bold underline in the app's primary color.
        //
        background-size: 100% 100%;
        border-color: $color.primary;

        // Override some default browser styles for focused inputs.
        //
        box-shadow: none;
        outline: none;
    }

    &:focus {
        +placeholder() {
            // Highlight and shrink the placeholder font.
            //
            color: $color.primary;
            font-size: 0.75rem;

            // Smoothly move the placeholder text above the user-entered input.
            //
            transform: translateY(-20px);
            transition: transform _transition-duration;

            // Prevent default styles from hiding the placeholder text when the
            // input element has focus (usually the default behavior).
            //
            visibility: visible !important;
        }
    }

    // Chrome on iOS adds some kind of border-radius to ``input`` fields.  The
    // styles below don't fix it, but I'm leaving this here as a reminder.
    //
    // &[type="text"] {
    //     border-radius: 0;
    // }
}
