// ############################################################################
// Links
// ############################################################################
//
// Hyperlink styles.
//

$link--dark {
    text-decoration: none;
    color: $color.font.primary.text;

    &:hover,
    &:active,
    &:visited {
        color: $color.font.primary.text;
    }
}
