// ############################################################################
// Links
// ############################################################################
//
// Hyperlink styles.
//


$link--no-outline {
    &,
    &:visited {
        outline: none;
    }
}


$link--no-underline {
    text-decoration: none;
}


$link--unstyled {
    @extends $link--no-outline;
    @extends $link--no-underline;
}




// TODO(nick): Remove this?  It's probably too specific.
//
$link--dark {
    text-decoration: none;
    color: $color.font.primary.text;

    &:hover,
    &:active,
    &:visited {
        color: $color.font.primary.text;
    }
}
