// ############################################################################
// Links
// ############################################################################
//
// Hyperlink styles.
//


$link--unstyled {
    text-decoration: none;
}



// TODO(nick): Remove this?  It's probably too specific.
//
$link--dark {
    text-decoration: none;
    color: $color.font.primary.text;

    &:hover,
    &:active,
    &:visited {
        color: $color.font.primary.text;
    }
}
