// ############################################################################
// Typography
// ############################################################################
//
// Styles for fonts and a selection of pre-made types of font.
//
//
// .. seealso:: https://www.google.com/design/spec/style/typography.html
//


$font--display4 {
    font-family: $font.style.display4.family;
    font-size: $font.style.display4.size;
    font-weight: $font.style.display4.weight;
    line-height: $font.style.display4.height;
    letter-spacing: $font.style.display4.spacing;
}

$font--display3 {
    font-family: $font.style.display3.family;
    font-size: $font.style.display3.size;
    font-weight: $font.style.display3.weight;
    line-height: $font.style.display3.height;
    letter-spacing: $font.style.display3.spacing;
}

$font--display2 {
    font-family: $font.style.display2.family;
    font-size: $font.style.display2.size;
    font-weight: $font.style.display2.weight;
    line-height: $font.style.display2.height;
}

$font--display1 {
    font-family: $font.style.display1.family;
    font-size: $font.style.display1.size;
    font-weight: $font.style.display1.weight;
    line-height: $font.style.display1.height;
}

$font--headline {
    font-family: $font.style.headline.family;
    font-size: $font.style.headline.size;
    line-height: $font.style.headline.height;
    font-weight: $font.style.headline.weight;
}


$font--title {
    font-family: $font.style.title.family;
    font-size: $font.style.title.size;
    font-weight: $font.style.title.weight;
    line-height: $font.style.title.height;
    letter-spacing: $font.style.title.spacing;
}


$font--subheading {
    font-family: $font.style.subheading.family;
    font-size: $font.style.subheading.size;
    font-weight: $font.style.subheading.weight;
    line-height: $font.style.subheading.height;
    letter-spacing: $font.style.subheading.spacing;
}


$font--body2 {
    font-family: $font.style.body2.family;
    font-size: $font.style.body2.size;
    font-weight: $font.style.body2.weight;
    line-height: $font.style.body2.height;
    letter-spacing: $font.style.body2.spacing;
}


$font--body {
    font-family: $font.style.body.family;
    font-size: $font.style.body.size;
    font-weight: $font.style.body.weight;
    line-height: $font.style.body.height;
    letter-spacing: $font.style.body.spacing;
}


$font--caption {
    font-family: $font.style.caption.family;
    font-size: $font.style.caption.size;
    font-weight: $font.style.caption.weight;
    line-height: $font.style.caption.height;
    letter-spacing: $font.style.caption.spacing;
}


$font--button {
    font-family: $font.style.button.family;
    font-size: $font.style.button.size;
    font-weight: $font.style.button.weight;
    line-height: $font.style.button.height;
    letter-spacing: $font.style.button.spacing;
    text-transform: uppercase;
}
