@import "font-awesome"


icon--fa(icon)
    font-family: FontAwesome;
    font-size: $font.icon.size.xl;
    line-height: 1;
    content: $fa-var- + icon;



// DEPRECATED
// ==========
//
// Switching to namespaced names to avoid namespace pollution.
//

fa(icon)
    font-family: FontAwesome
    content: $fa-var- + icon

// fa(icon)
//   display inline-block
//   font-family FontAwesome
//   font-style normal
//   font-weight normal
//   line-height 1
//   -webkit-font-smoothing antialiased
//   -moz-osx-font-smoothing grayscale
//   &:before
//     content $fa-var- + icon

